.CoursesList3 {
    padding-top: 85px;
}

.CoursesList3-left-side {
    border-right: 1px solid #d4d4d4;
    margin-top: 90px;
}

.CoursesList3-right-side {
    margin-top: 90px;
}

.CoursesList3-back-fo3 {
    background-image: url(./img/course-tittle-area.jpg);
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    align-items: center;
    color: white !important;
    font-size: 22px;
}

.CoursesList3-right-side-top h1 {
    font-size: 22px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    padding: 10px 0 30px 10px;
}

.CoursesList3-right-side-top span {
    display: block;
    padding: 13px 0;
    margin: 0 25px;
    font-size: 15px;
    color: #7e7e7e;
    border-bottom: #c2c2c2 1px solid;
}

.CoursesList3-right-side-bottom {
    padding-top: 70px;
}

.CoursesList3-right-side-bottom h1 {
    font-size: 22px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    padding: 10px 0 30px 10px;
}

.CoursesList3-right-side-bottom-carts {
    padding: 20px 15px;
    display: flex;
}

.CoursesList3-right-side-bottom-carts h1 {
    font-size: 15px;
    color: #303030;
    padding: 5px 0 15px 15px;
}

.CoursesList3-right-side-bottom-carts span {
    color: #2d76b2;
    display: inline-block;
    padding: 5px 0 15px 15px;
    font-size: 14px;
}

.carts-img-any {
    width: 105px;
}

.carts-img-any img {
    width: 100%;
}

.fa-grip-vertical {
    padding-right: 30px;

}

.column-androw-icons-any {
    cursor: pointer;
}

.column-androw-icons-any:hover {
    color: #2d76b2;
}

.PopularCardtImgClass {
    width: 300px;
}

.PopularCardtImgClass img {
    width: 100%;
}

.Popular-about-bottom-span {
    width: 213px;
}

.Popular-about-bottom-span-props {
    width: 100%;
}

.PopularCardtClass-props {
    padding-top: 60px !important;
}

.CoursesList3-left-side-top-div span {
    font-size: 15px;
    color: #7e7e7e;
    display: inline-block;
    padding-left: 25px;
}

.CoursesList3-left-side-top select {
    border: none;
    color: #7e7e7e;
    font-size: 15px;
    float: right;
}

@media (max-width:768px) {
    .PopularCardtImgClass {
        width: 250px;
    }

    .PopularCardtClass-props {
        width: 300px;
    }
}