.Pages-Abouts {
    padding-top: 85px;
}

.Teacher-back-fon-about {
    background-image: url(imgs/about-us-title-area.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 281px;
    align-items: center;
    background-attachment: fixed;
}

.Teacher-back-fon-about h1 {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.Teacher-back-fon-about a {
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}

.Pages-Abouts-introdaction {
    padding-top: 100px;
}

.Pages-Abouts-left-top h1 {
    margin: 20px 0;
    color: #434343;
    font-weight: 600;
    font-size: 39px;
    line-height: 1.15em;
}

.Pages-Abouts-left-top span {
    color: #888;
    font-size: 18px;
    line-height: 33px;
    display: block;
    margin: 16px 0 0;
}

.Pages-Abouts-left-any h4 {
    margin: 20px 0;
    font-family: Montserrat, sans-serif;
    color: #434343;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
}

.Pages-Abouts-left-any span {
    color: #888;
    font-size: 15px;
    line-height: 27px;
    display: block;
    margin: 16px 0 0;
}

.Pages-Abouts-left-center ul {
    padding-top: 30px;
}

.Pages-Abouts-left-center ul li {
    color: #363636;
    font-size: 15px;
    width: 100%;
    height: 26px;
    letter-spacing: 0.3px;
}

.Pages-Abouts-left-center ul i {
    padding-right: 23px;
    color: #2d76b2;
    font-size: 17px;
}

.Pages-Abouts-right img {
    width: 440px;
    float: right;
}

.Pages-Abouts-right-interest {
    background-color: #2d76b2;
    height: 9px;
}

@media (max-width:991px) {
    .Pages-Abouts-right {
        padding-top: 70px;
    }

    .Pages-Abouts-right img {
        width: 440px;
        float: none;
    }
}

@media (max-width:548px) {
    .Pages-Abouts-right img {
        width: 250px;
        display: flex;
        margin: 0 auto;
    }
}
.Pages-Abouts-bottom-carts-img{
    display: flex;
    justify-content: space-between;
}
.Pages-Abouts-bottom-cart-img {
    width: 259px;
}

.Pages-Abouts-bottom-cart-img img {
    width: 100%;
}
@media (max-width:1300px) {
    .Pages-Abouts-bottom-carts-img{
        padding-top: 70px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .Pages-Abouts-bottom-cart-img{
        padding-top: 30px;
    }
}