.mySwiper{
    width: 100%;
    height: 100vh;
    /* z-index: -9999; */
}
/* .swiper-img-any{
    height: 100%;
    z-index: -9999;
    position: relative;
}
.swiper-img-any img{
    width: 100%;
    height: 100%;
} */
.swiper-back-fon{
    background-image: url(img/header-img11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
}
