.Sections-Cards {
    padding-top: 100px;
}

.Sections-Popular {
    padding-bottom: 60px;
}

.Sections-Popular h1 {
    font-size: 40px;
    font-weight: 700;
    color: #434343;
    padding-bottom: 40px;
}

.Sections-Popular span {
    font-size: 18px;
    color: #888888;
    line-height: 30px;
}

.Popular-img {
    width: 246px;
}

.Popular-img img {
    width: 100%;
}

.fa-heart {
    font-size: 14px;
}

.Popular-icons {
    position: relative;
    top: 30px;
    left: 0;
    float: right;
    background-color: #2d76b2;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white !important;
    font-weight: 600;
    font-size: 22px !important;
    transition: 0.5s all ease;
    opacity: 0;
}

.Popular-img:hover .Popular-icons {
    opacity: 1;
}

.about-top h1 {
    font-size: 20px;
    color: #434343;
    font-weight: 700;
    padding-right: 30px;
    padding-left: 30px;
}

.about-top span {
    padding: 4px 9px;
    background-color: #2d76b2;
    color: white;
    font-size: 14px;
}

.about-bottom a {
    color: #b6b6b6;
    padding: 15px 0 0 30px;
    font-size: 14px;
}
.Popular-about > span{
    color: #818181;
    padding: 15px 0 0 30px;
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
}
.about-bottom-last{
    padding: 15px 0 0 30px;
}
.about-bottom-last > span > .fa-clock{
    padding-left: 50px;
}
.about-bottom-last span{
    color: #888888;
    font-size: 15px;
}
@media (max-width:768px) {
    .Popular-cardt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}