.Shop-List {
    padding-top: 85px;
}

.Shop-list-carts {
    padding-top: 80px;
}

.Shop-list-carts-left-top span {
    font-size: 14px;
    color: #ababab;
}

.Shop-list-carts-left-top select {
    border: none;
    width: 180px;
    border: none !important;
    font-size: 14px;
    color: #ababab;
}

.Shop-list-carts-left-bottom {
    padding-top: 50px;
}

.Shop-list-carts-left-bottom-img {
    width: 248px;
    margin: 0 auto;
}
@media (max-width:548px) {
    .Shop-list-carts-left-bottom-img {
        width: 200px;
    }
    .Shop-list-carts-left-bottom-img button {
        width: 200px !important;
    }
}
.Shop-list-carts-left-bottom-img img {
    width: 100%;
}

.Shop-list-carts-left-bottom-img button {
    position: relative;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    background-color: rgb(80, 80, 255);
    width: 248px;
    height: 0px;
    padding: 0;
    overflow-y: hidden;
    transition: 0.3s height ease;
    bottom: 248px;
}

.Shop-list-carts-left-bottom-img:hover button {
    height: 54px;
}


.Shop-list-carts-left-bottom-about span {
    color: rgb(77, 77, 77);
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
    display: inline-block;
    letter-spacing: 1px;
}

.Shop-list-carts-left-bottom-about p {
    color: rgb(55, 55, 248);
    font-size: 18px;
    font-weight: 700;
}


.shopping-icons-top{
    padding-bottom: 20px;
}
.shopping-icons-img{
    width: 69px;
}
.shopping-icons-img img{
    width: 100%;
    display: flex;
}
.shopping-icons-top-span span{
font-weight: 700;
font-size: 13px;
color: rgb(59, 59, 231);
padding: 10px 0;
display: inline-block;
}
.shopping-icons{
    width: 280px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-right: 50px;
    padding: 15px 20px;
    margin: 0 auto;
    cursor: default;
}
.shopping-icons-bottom{
    border-top: 1px solid #ababab;
    padding-top: 30px;
    padding-bottom: 15px;
}
.shopping-icons-bottom h1{
    color: #474747;
    font-size: 14px;
    font-weight: 700;
}.shopping-icons-bottom-span{
    padding-bottom: 20px;
}
.shopping-icons-bottom-span span{
    font-weight: 700;
    color: #0a0a0a;
    font-size: 14px;
}
.shopping-icons-bottom-btn{
    padding-top: 15px;
}
.shopping-icons-bottom-btn button{
    width: 110px;
    height: 40px;
    background-color: #2d76b2;
    border: none;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.5s ease all;
}
.shopping-icons-bottom-btn button:hover{
    background-color: #474747;
}
.badge {
    background-color: #2d76b2;
    border-radius: 50%;
    left: 10px;
    bottom: 10px;
    font-size: 8px;
}
.fa-circle-xmark{
    cursor: pointer;
}
.Shop-list-carts-right-top input{
margin: 20px 0;
}
.Shop-list-carts-right > h1{
    font-size: 24px;
    color: #2c2c2c;
    font-weight: 500;
}
.Shop-list-carts-right-top  h1{
    display: inline-block;
    padding-left: 30px;
    font-size: 18px;
    color: #474747;
    font-weight: 700;
}















.Shop-list-carts-right-bottom a{
    font-size: 16px;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 500;
    border-bottom: 1px solid #ababab;
    color: #0a0a0a;
}
.Shop-list-carts-right-tags a{
    color: #0a0a0a;
    font-size: 13px;
    display: inline-block;
    font-weight: 500;
    padding: 7px;
}




